.navbar {
    position: relative;
    width: 260px;
    height: 100vh;
    background-color: #0f111a;
    color: #ffffff;
    
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .navbar.collapsed {
    width: 80px;
  }
  
  .navbar-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .logo {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .logo-img {
    width: 40px;
    height: 40px;
  }
  
  .logo-text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .nav-menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    flex-grow: 1;
  }
  
  .nav-item {
    margin: 10px 0;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #b0b3b8;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-link:hover {
    background-color: #1c1e29;
    border-radius: 12px;
  }
  
  .nav-icon {
    font-size: 22px;
  }
  
  .nav-text {
    margin-left: 15px;
  }
  
  .active .nav-link {
    background-color: #0a6847;
    color: #ffffff;
    border-radius: 12px;
  }
  
  .profile-section {
    margin-top: auto;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .profile-info {
    margin-left: 10px;
  }
  
  .profile-name {
    font-size: 16px;
    font-weight: 600;
  }
  
  .profile-role {
    font-size: 12px;
    color: #aaa;
  }
  
  .collapse-arrow {
    position: absolute;
    top: 50%;
    right: 0px;
    background-color: #0f111a;
    padding: 6px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    transform: translateY(-50%);
    cursor: pointer;
  }
  .navbar.collapsed .collapse-arrow {
    transform: translateY(-50%) rotate(180deg); /* Rotate 180 degrees */
}